# Flutter
flutter-app/build/
flutter-app/.dart_tool/
flutter-app/.packages
flutter-app/.idea/

# ESP32 / PlatformIO / Arduino
esp32-firmware/.pio/
esp32-firmware/.vscode/
esp32-firmware/*.bin

# KiCad
hardware/esp32-bluetooth-rc-car-hardware/*.kicad_prl
hardware/esp32-bluetooth-rc-car-hardware/*.kicad_pro-bak
hardware/esp32-bluetooth-rc-car-hardware/*.bak
hardware/esp32-bluetooth-rc-car-hardware/*.tmp
hardware/esp32-bluetooth-rc-car-hardware/*.000
hardware/esp32-bluetooth-rc-car-hardware/*.001
hardware/esp32-bluetooth-rc-car-hardware/*.dsn
hardware/esp32-bluetooth-rc-car-hardware/*.ses
hardware/esp32-bluetooth-rc-car-hardware/*-backups/
hardware/esp32-bluetooth-rc-car-hardware/.history/

# System
.DS_Store
Thumbs.db