# Flutter
flutter-app/build/
flutter-app/.dart_tool/
flutter-app/.packages
flutter-app/.idea/

# ESP32 / PlatformIO / Arduino
esp32-firmware/.vscode/
esp32-firmware/*.bin
.pio
.vscode/ipch


# KiCad
*.kicad_prl
*.kicad_pro-bak
*.bak
*.tmp
*.000
*.001
*.dsn
*.ses
*-backups/
.history/
*.lck

# System
.DS_Store
Thumbs.db